.course-links a{
    text-decoration: none;
    margin-bottom: 5px;
}
.course-name-list{
    /* background-image: linear-gradient(to right,  rgba(68, 2, 2, 0.888), rgb(34, 3, 97)); */
    background-image: linear-gradient(to right,  rgb(2, 11, 75), rgb(123, 1, 1));
    /* background-color: rgb(12, 12, 12) !important; */
    border-radius: 10px !important;
}

.offered-course-title{
    box-shadow: 10px 10px 5px rgb(226, 224, 224);
    background-color: rgb(4, 4, 85);
    border-radius: 10px;
    color: white;
}

.course-title{
    box-shadow: 10px 10px 5px rgb(226, 224, 224);
    background-image: linear-gradient(to right,  rgb(94, 4, 4), rgb(51, 7, 139));
    border-radius: 8px;
    color: white;
}

.course-name-list:hover{
    /* background-image: linear-gradient(to right,  rgb(2, 11, 75), rgb(142, 2, 2)); */
    background-image: linear-gradient(to right,  rgba(68, 2, 2, 0.888), rgb(34, 3, 97));
    color: white !important;
    font-weight: bold;
}