.card-image-new{
    width: 100%;
    height: 22vw !important;
    object-fit: cover;
}

.card-image-new:hover{
    transform: scale(1.05);
    transition: transform 2s ease-in-out;
}

.course-title-name, .course-card-footer{
    background-image: linear-gradient(to right,  rgb(67, 4, 4), rgb(58, 4, 167));
}

.duration-div, .students-div, .rating-div{
    background-image: linear-gradient(to right,  rgb(115, 6, 6), rgb(39, 4, 108));
    color: white;
    box-shadow: 10px 10px 5px white;
}

.premium-access-button:hover{
    background-color: rgb(218, 167, 40) !important;
    color: black !;
    
}


@media only screen and (min-width: 750px) {
    .course-details-card-container {
        width: 75% !important;
    }

    .course-details-parent-div{
        width: 75% !important;
    }
        
    
}

@media only screen and (max-width: 749px) {
    .course-details-card-container {
        width: 97% !important;
    }
    .course-details-parent-div{
        width: 97% !important;
    }
}