.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#light{
  background-color: rgb(235, 242, 248)
  /* background-color: rgb(247, 247, 247); */
}
#dark{
  /* background-color: rgb(14, 13, 13); */
  background-color: rgb(28, 33, 43);
}

#light .all-courses-card{
    box-shadow: 7px 7px 7px rgb(225, 220, 220);
    margin-bottom: 10px;
}

#dark .all-courses-card{
  box-shadow: 4px 4px 4px rgb(187, 186, 186);
  margin-bottom: 10px;
}

#dark .course-name-list{
  /* background-image: linear-gradient(to right,  rgb(10, 27, 151), rgb(27, 3, 125)); */
  background-image: linear-gradient(to right,  rgb(49, 55, 65), rgb(58, 66, 76));
  box-shadow: 2px 2px 2px rgb(244, 242, 242);
}

#dark .navbar-container{
  background-image: linear-gradient(to right,  rgba(44, 51, 63, 1), rgb(45, 54, 66));
}

#dark .header-links a {
  color: white;
  font-weight: 600;
}

#dark .website-title{
  color: white;
}

#dark .header-links a:hover{
  color: goldenrod;
}


#dark .active{
  /* border-bottom: 3px solid rgb(92, 137, 7); */
  border-bottom: 3px solid rgb(237, 177, 23);
  color: white;
  border-radius: 10px;
}

#dark .user-name-header{
  /* color: rgb(57, 78, 200) !important; */
  color: goldenrod;
  font-weight: 400;
}

#dark .blog-card-parent {
  box-shadow: 5px 5px 5px rgb(196, 193, 193);
}

#dark .blog-title{
  background-image: linear-gradient(to right, rgb(35, 4, 73), rgb(94, 64, 4));
}

#dark .header-small-image{
  border: 2px solid rgb(20, 3, 120);
}

#dark .faq-card{
  background-color: rgb(182, 180, 179);
}

#dark .faq-title{
  /* background-image: linear-gradient(to right,  rgb(139, 5, 5), rgb(40, 9, 167)); */
  background-image: linear-gradient(to right,  rgb(114, 7, 7), rgb(13, 50, 98));
}

#dark .terms-card-body{
  background-color: rgb(182, 180, 179);
}

#dark .blog-card-parent{
  background-color: rgb(182, 180, 179);
}

#dark .course-details-card-container{
  background-color: rgb(182, 180, 179);
}

#dark .duration-div{
  box-shadow: 3px 3px 3px rgb(68, 82, 230);
}
#dark .students-div{
  box-shadow: 3px 3px 3px rgb(68, 82, 230);
}

#dark .rating-div{
  box-shadow: 3px 3px 3px rgb(68, 82, 230);
}

#dark .registration-form-parent-div{
  background-image: linear-gradient(to right,  rgb(87, 4, 4), rgb(29, 4, 80));
}

#dark .login-container{
  background-image: linear-gradient(to right,  rgb(80, 4, 4), rgb(26, 3, 72));
}

#dark .btn-primary-google{
  background-color: rgb(160, 142, 8) !important;
}

#dark .btn-primary-github{
  background-color: black !important;
}

#dark .github-icon-form{
  color: white !important;
}

#dark .footer-section{
  background-color: rgb(16, 29, 54);
}
#dark .all-courses-card{
  background-color: rgb(216, 213, 213);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
