.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#light{
  background-color: aliceblue;
}
#dark{
  background-color: rgb(2, 0, 5);
}

#light .all-courses-card{
    box-shadow: 7px 7px 7px rgb(225, 220, 220);
    margin-bottom: 10px;
}

#dark .all-courses-card{
  box-shadow: 5px 5px 5px rgb(123, 3, 3);
  margin-bottom: 10px;
}

#dark .course-name-list{
  background-image: linear-gradient(to right,  rgb(10, 27, 151), rgb(27, 3, 125));
  box-shadow: 2px 2px 2px rgb(244, 242, 242);
}

#dark .navbar-container{
  background-image: linear-gradient(to right,  white, white);
}

#dark .header-links a {
  /* color: rgb(6, 6, 6); */
  color: rgb(57, 78, 200);
  font-weight: 600;
}

#dark .website-title{
  color: rgb(5, 3, 92);
}

#dark .header-links a:hover{
  /* color: rgb(57, 78, 200); */
  color: rgb(21, 20, 21);
}


#dark .active{
  border-bottom: 3px solid rgb(17, 3, 108);
  color: rgb(237, 27, 27) !important;
  border-radius: 10px;
}

#dark .user-name-header{
  /* color: rgb(229, 53, 53) !important; */
  color: rgb(57, 78, 200) !important;
  font-weight: 600;
}

#dark .blog-card-parent {
  box-shadow: 5px 5px 5px rgb(196, 193, 193);
}

#dark .header-small-image{
  border: 2px solid rgb(20, 3, 120);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
